.absolute {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 200px;
    height: 100px;
    background-color: rgb(0, 255, 255);
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 255, 0);
}
.contenitore {
    width: 200px;
    height: 1000px;
}
.sticky {
    position: sticky;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 255);
}